
input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(12px);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

    color: #000;
    font-size: 15px;

    transition: 0.25s ease;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.55);
}

select {
    color: rgba(0, 0, 0, 0.85);
}

input:focus,
select:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 
        0 0 0 3px rgba(255, 255, 255, 0.35),
        0 4px 12px rgba(0, 0, 0, 0.15);
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);

    color: #000;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;

    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.4);

    transition: 0.25s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.35);
    box-shadow:
        0 6px 16px rgba(0, 0, 0, 0.18),
        inset 0 1px 0 rgba(255,255,255,0.5);
}

button:active {
    transform: scale(0.97);
    box-shadow:
        inset 0 2px 6px rgba(0, 0, 0, 0.25);
}
